/* Responsive */
@media screen and (max-width : 1200px) {
	.logo-text {
		color: red;
		font-size: 1.4rem;
	}
}

@media screen and (max-width : 992px) {}

@media screen and (max-width : 768px) {
	.logo-text {
		color: blue;
	}
}

@media screen and (max-width : 576px) {
	.logo-text {
		color: darkorange;
		font-size: 1rem;
	}

	.row {
		background-color: darkorchid;
	}

	.logo {
		width: 30%;
	}
}


/* End responsive */

/* Style Login */
* {
	margin: 0;
	padding: 0;
}

.row {
	background-color: darkorchid;
}

.header-login {
	padding: 40px;
}

.header-login h4 {
	color: rgb(250, 175, 36);
	
}

.card {
	padding: 30px;
}

.logo {
	float: left;
}

.logo-text {
	/* padding: 5px 10px; */
}

.footer {
	margin-top: 80px;
}

/*End Style Login */

.transition {
	transition: 0.5s;
}

.displayblock {
	display: block;
}

.displaynone {
	display: none;
}

.color-red {
	color: #b70000;
}

.color-blue {
	color: rgba(0, 81, 255, 0.781);
}

a {
	text-decoration: none;
	cursor: pointer;
}
