/* Style Login */
* {
	margin: 0;
	padding: 0;
}

.header-login {
	padding: 40px;
}

.header-login h4 {
	color: rgb(250, 175, 36);
	
}

.card {
	padding: 30px;
}

.logo {
	float: left;
}

.logo-text {
	/* padding: 5px 10px; */
}

.footer {
	margin-top: 80px;
}

/*End Style Login */

.transition {
	transition: 0.5s;
}

.displayblock {
	display: block;
}

.displaynone {
	display: none;
}

.color-red {
	color: #b70000;
}

.color-blue {
	color: rgba(0, 81, 255, 0.781);
}

a {
	text-decoration: none;
	cursor: pointer;
}
